name: Luacheck
on:
  pull_request:
  push:
    branches: [main]
jobs:
  luacheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Lua
        uses: leafo/gh-actions-lua@v12
      - name: Set up LuaRocks
        uses: leafo/gh-actions-luarocks@v6
      - name: Install luacheck
        run: luarocks install luacheck
      - name: Run luacheck
        run: luacheck .
